body {
  font-family: "Montserrat", sans-serif;
}

.main {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  margin: auto;
  background-color: #e5e5e5;
}

.main-content {
  background-color: #ffffff;
  margin-top: 90px;
}

.about-user {
  margin-top: 50px;
  margin-left: 90px;
  margin-right: 385px;
  margin-bottom: 40px;
}

.projects {
  margin: 40px 300px 50px 90px;
}
.company-1 {
  margin: 50px 260px 15px 90px;
}
.work-experience {
  padding-left: 15px;
}
.ul-1 {
}

.sidebar {
  background-color: #1e2939;
  width: 370px;
  margin-top: 40px;
}

.photo {
  margin-top: 40px;
}
